<div class="modal-header">
  <h3 ng-if='!ctrl.register'>Login
    <span class="close pull-right" ng-click="ctrl.actions.close()">X</span>
  </h3>

  <h3 ng-if='ctrl.register'>Registrar
    <span class="close pull-right" ng-click="ctrl.actions.close()">X</span>
  </h3>
</div>

<div class="modal-body">
  <form ng-submit="ctrl.actions.continue()" name='loginForm'>
    <div ng-if='ctrl.register'>
      
      <div class="form-group" >
        <label for="name">Nome</label>
        <input class='form-control'
          type="text"
          ng-model="ctrl.user.name"
          name="name"
          required='true'
          id="name" placeholder='Nome'></input>

        <div ng-if='!loginForm.name.$pristine && loginForm.name.$invalid' ng-messages="loginForm.name.$error" style="color:maroon" role="alert">
          <div ng-message="required">Campo obrigatório</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="login">Usuário/login</label>
      <input class='form-control'
        type="text"
        ng-model="ctrl.user.login"
        name="email"
        required='true'
        id="login" placeholder='Usuário'
        ></input>

      <div ng-if='!loginForm.email.$pristine && loginForm.email.$invalid' ng-messages="loginForm.email.$error" style="color:maroon" role="alert">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input class='form-control'
        type="password"
        ng-model="ctrl.user.password"
        name="password"
        required='true'
        id="password" placeholder='Senha'></input>

      <div ng-if='!loginForm.password.$pristine && loginForm.password.$invalid' ng-messages="loginForm.password.$error" style="color:maroon" role="alert">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </div>


    <button 
      class="btn btn-success" 
      type="submit"
      ng-disabled='loginForm.$invalid'>
      <span ng-if='!ctrl.register'>Login</span>
      <span ng-if='ctrl.register'>Registrar-se</span>
    </button>

    <a ng-if='!ctrl.register' ng-click='ctrl.register = true' class='pull-right register'>
      Registre-se
    </a>
    <a ng-if='ctrl.register' ng-click='ctrl.register = false' class='pull-right register'>
      Cancelar
    </a>
  </form>

</div>