
// =============
// Colors
// =============


$colors: (
  primary: #01579B,
  primary-light: lighten(#01579B, 20%),
  gray: #B6B6B6,
  secondary: #FFFFFF,
  third: #F1F0F1,
  border: #F1F1F1,
  badge: #50AE69
);

$text-colors: (
  light: #FFF,
  main: #333,
  mid: #717171,
  dark: #B9B9B9,
  link: #01579B,
  secondary: #01579B,
  success: #50AE69,
  danger: #E24342,
  error: #D84242
);

$btn-colors: (
  primary: #50AE69,
  secondary: #01579B,
  danger: #E24342,
  sacancel: #B6B6B6
);


