
// =============
// Colors
// =============


$colors: (
  primary: #1A77D2,
  secondary: #FFFFFF,
  third: #F1F0F1,
  border: #F1F1F1
);

$text-colors: (
  light: #FFF,
  main: #1A77D2,
  mid: #717171,
  dark: #B9B9B9,
  link: #1A77D2,
  success: #50AE69,
  danger: #E24342,
  error: #D84242
);

$btn-colors: (
  primary: #50AE69,
  secondary: #1A77D2,
  danger: #E24342,
  sacancel: #B6B6B6
);


