
// =============
// Colors
// =============

$primary-color: #1A77D2;
$secondary-color: #FFFFFF;
$third-color: #F1F0F1;

$btn-primary: #50AE69;
$btn-secondary: #1A77D2;
$btn-danger: #E24342;
$btn-sa-cancel: #B6B6B6; // sweet alert cancel bg

$border-color: #F1F1F1;

$primary-text-color: #6C6C6C;
$secondary-text-color: #1A77D2;
$mid-text-color: #717171;
$light-text-color: #B9B9B9;

$selected-item-bg-color: #4EA0F4;


$success-text-color: #63A94F;

$light-panel-color: #FBFBFB;
$validation-error-color: #d84242;
