a {
  cursor: pointer;
  color: map-get($text-colors, link);
}

.light-text {
  color: map-get($text-colors, light);
}


label:first-letter{
  text-transform: capitalize;
}

.overflow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}