html, body, .main-view{
  height: 100%;
  padding: 0;
  margin: 0;
  color: map-get($text-colors, main);
  background-color: map-get($colors, secondary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}

label {
  font-weight: 400;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}