html, body, .main-view{
  height: 100%;
  padding: 0;
  margin: 0;
  color: map-get($text-colors, main);
  background-color: map-get($colors, secondary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html {
  overflow: auto;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
}



:focus {
  outline: 0 none !important;
}

label {
  font-weight: 300;
}