#header {
  background-color: map-get($colors, primary);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 500;
  font-size: 16px;
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;

  .logo-wrapper {
    height: 100%;
    width: 50px;

    a {
      display: block;
      padding: 0 24px;
      height: 100%;
    }

    .logo {
      font-size: 30px;
      width: 50px;
      height: 100%;
      background: url('../assets/images/logo.png') no-repeat scroll center center transparent;
      display: block;
      
    }
  }
    

  .link {
    padding: 0 20px;
    cursor: pointer;

    &:hover {
      background-color: darken(map-get($colors, primary), 2%);
    }

    &.active {
      background-color: darken(map-get($colors, primary), 5%);
    }

    a {
      display: block;
    }

  }
  
  .cart-info {
    height: 100%;
    padding: 0 10px;

    .cart-icon {
      height: 100%;
      position: relative;
      text-align: center;
      cursor: pointer;

      .glyphicon {
        width: 24px;
        left: 0;
        height: 24px;
        font-size: 24px;
        position: absolute;
        top: 50%;
        margin-top: -12px;
        text-align: center;

      }

      .badge {
        line-height: 12px;
        font-size: 10px;
        background-color: map-get($colors, badge);
        position: absolute;
        margin-top: -20px;
        top: 50%;
        left: 10px;
        text-align: center;
      }

      .cart-total {
        font-size: 14px;
        padding-left: 40px;
        width: 100%;
        text-align: right;

      }
    }

    &.empty {
      width: 24px;
      margin: 0 16px;
      
      .cart-total, .badge {
        display: none;
      }

      .cart-icon {
        height: 100%;
      }
    }

  } // end cart-info


  .user {
    font-size: 16px;
    padding: 0 20px;
    height: 100%;
  }

  &.big {
    height:85px;
    line-height: 85px;

    .logo-wrapper {
      a {
        line-height: 85px;
      }
    }

  }

  &.small {
    height:40px;
    line-height: 40px;

    .logo-wrapper {
      a {
        line-height: 40px;
      }
    }
  }

  

}

