#header {
  width:100%;
  background-color: map-get($colors, primary);
  position:fixed;
  top:0;
  left:0;
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  &.big {
    height:100px;   
  }

  &.small {
   height:40px;
  }

}

