<div id="header" 
  class="light-text" 
  role="navigation" 
  ng-class="ctrl.headerClass">

  <div class="logo-wrapper pull-left" title='iBuy'>
    <a ui-sref="home" class='light-text no-decoration'>
      <span class="logo">iBuy</span>
    </a>
  </div>
  
  <div class='user pull-right' >
    <div class="user-wrapper" ng-if='ctrl.UserService.logged'>
      <span ng-bind='ctrl.currentUser.name'></span>
      &nbsp;|&nbsp;
      <a 
        class='light-text' 
        ng-click='ctrl.actions.logout()'
        title='Sair'>
        Sair
      </a>
    </div>

    <div class="user-wrapper" ng-if='!ctrl.UserService.logged'>
      <a 
        ng-click='ctrl.actions.openLogin()'
        class='light-text'
        title='Login'>
        Login
      </a>
    </div>
  </div>

  <div class="pull-right cart-info "
    ng-click='ctrl.actions.goToCart()'
    ng-class="{'empty': (ctrl.currentUser.cart.productsCount == 0 || ctrl.currentUser.cart.status != 'CREATED')}"
    title='Visualizar carrinho'>

    <div class="cart-icon">
      <span class='glyphicon glyphicon-shopping-cart'></span>
      <span 
        class="badge"
        ng-bind='ctrl.currentUser.cart.productsCount'>
      </span>
      <span class='cart-total' ng-bind='ctrl.currentUser.cart.currentTotal | currency:"R$"'></span>
    </div>

  </div>

  <div 
    class="pull-right link" 
    ng-if='ctrl.UserService.logged'
    title='Minhas compras'
    ui-sref-active='active'>
    <a class='light-text no-decoration'  ui-sref="shoppings">Minhas compras</a>
  </div>

  <div 
    class="pull-right link"
    title='Produtos'
    ui-sref-active='active'>
    <a class='light-text no-decoration'  ui-sref="products({category: 'all'})">Produtos</a>
  </div>


  
</div>
