.sidebar {
  position: fixed;
  padding-top: 120px;
  text-align: center;
  top:0;
  left: 0;
  width: 200px;
  bottom: 0;
  border-right: 1px solid map-get($colors, border);

}

.shoppings-list {
  padding-left: 200px;
  text-align: center;
  width: 95%;
  margin: 0 auto;

  h3 {
    text-align: left;
    padding: 4px 10px;
    margin: 0 auto;
    border-bottom: 1px solid map-get($colors, border) ;
  }

  .list {
    padding-top: 20px;

    li {
      display: block;
      line-height: 30px;
      overflow: hidden;

      &.header {
        clear: both;
        height: 40px;
        line-height: 40px;
        border-bottom: 2px solid map-get($colors, border);
        margin-bottom: 5px;
      }

      .icon, .action {
        cursor: pointer;
      }

      span.info {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 5px;


        .icon {
          font-size: 16px;
          padding: 0 8px;

        }

        &.quantity {
          span {
            padding: 0 10px;
          }
        }

      }



    }
  }
}








